.sidePanelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidePanelItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.sidePanelLink:hover > .sidePanelIcon, .sidePanelLink:hover > .sidePanelDetails {
    color: #5692e2;

}

.sidePanelIcon {
    color: grey;
    font-size: 25px;
}

.sidePanelDetails {
    margin: 5px;
    font-size: 13px;
    color: grey;
}

.displayUserContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.displayUserMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayUserImg {
    font-size: 45px;
    color: grey;
}

.displayUserHeaders {
    display: flex;
    flex-flow: column;
}

.displayUserH4 {
    margin: 5px;
}

.logOutBtn {
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.logOutBtn:hover {
    color: #5692e2;
    transform: scale(1.2);
    background-color: white;
}

@media (max-width: 990px) {
    .displayUserDetails {
        display: flex;
    }

    .displayUserHeaders {
        flex-flow: row;
    }
}