.Main {
    width: 50%;
    min-width: 233px;
    margin: 0 auto;
}

.Main h3 {
    color: #EEEEEE
}

.Main ul li p {
    color: #EEEEEE;
    font-weight: 600;
}

.Main ul {
    padding: 0;
    list-style: none;
}

.Main ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
}

.Main ul li p {
    width: 223px;
    margin: 16px;
}

@media (max-width: 449px) {
    .Main {
        width: 100%;
    }
}